@import "../../style/sass/variables";

.hero {
  &__item {
    height: 431px;
    display: flex;
    align-items: center;
    padding-left: 75px;
    margin-top: -11px;
  }

  &__text {

    span {
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 4px;
      color: $primary-color;
    }

    h2 {
      font-size: 46px;
      color: $heading-color-2;
      line-height: 52px;
      font-weight: 700;
      margin: 10px 0;
    }

    p {
      margin-bottom: 35px;
    }
  }
}
